.container {
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;

    @include m-h-auto;
    @include breakpoint-xxl {
        max-width: 1140px;
    }
    @include breakpoint-xl {
        max-width: 960px;
    }
    @include breakpoint-lg {
        max-width: 720px;
    }
    @include breakpoint-md {
        max-width: 540px;
    }
    @include breakpoint-sm {
        max-width: 100%;
    }
}
main > .container {
    $difference: 100px;
    max-width: 1320px - $difference;

    @include m-h-auto;
    @include breakpoint-xxl {
        max-width: 1140px  - $difference;
    }
    @include breakpoint-xl {
        max-width: 960px  - $difference / 2;
    }
    @include breakpoint-lg {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $body;
    line-height: 1.7;

    @include breakpoint-sm {
        font-size: $body-sm;
        line-height: 1.5;
    }
}