.header {
    padding: 0 15px;
}
.header-container {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $support-light-3;
}

.header-btn-mobile {
    display: none;
    padding: 1.5rem;
    cursor: pointer;

    path {
        transition: fill 200ms ease-in-out;
    }
    @include desktop-supported {
        &:hover path {
            fill: $support-light-3;
        }
    }
    &:active path {
        fill: $support-light-3;
    }
}

.header-logo {
    padding: 1.5rem 0;
    transition: opacity 200ms ease-in-out;

    @include desktop-supported {
        &:hover {
            opacity: 0.7;
        }
    }
    &:active {
        opacity: 0.7;
    }
}

.header-menu ul {
    display: flex;
    margin-left: calc(6rem - 15px - 15px);
    margin-right: 6rem;

    .menu-item {
        padding: 0 calc(30px / 2);
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 4px;
            background-color: transparent;
            transition-property: width, background-color;
            transition-duration: 200ms;
            transition-timing-function: ease-in-out;
        }
        @include desktop-supported {
            &:hover::after {
                width: 100%;
                background-color: $primary;
            }
            &:hover a {
                color: $support-dark-3;
            }
        }
        &:active a {
            color: $support-dark-3;
        }
    }
    .menu-item a {
        white-space: nowrap;
        display: inline-block;
        padding: 5rem 0;
        
        color: $support-dark-1;
    }
}

.header-user {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 4.5rem;
    position: relative;

    .cart .cart-btn {
        cursor: pointer;
        padding: 1.5rem;
        position: relative;

        path {
            fill: $support-dark-1;
            transition: fill 200ms ease-in-out;
        }
        @include desktop-supported {
            &:hover path {
                fill: $support-dark-3;
            }
        }
        &.active path {
            fill: $support-dark-3;
        }
        &::before {
            content: var(--unitsInCartValue, initial);
            display: var(--unitsInCartDisplay, initial);
            position: absolute;
            top: 6px;
            right: 7px;
            font-size: 1.2rem;
            font-family: "Kumbh Sans", sans-serif;
            font-weight: 700;
            text-align: center;
            color: $support-light-1;
            background-color: $primary;
            padding: 1px 7px;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            transform: none;
            transition: transform 200ms ease-in-out;
        }
        &.added::before {
            transform: scale(1.2);
        }
    }
    .cart .cart-info {
        display: none;
        position: absolute;
        width: 360px;
        right: 0;
        z-index: $zIndex-cart;
        padding: 2rem 0;
        background-color: $support-light-1;
        box-shadow: $shadow-cart;
        border-radius: 10px;
        opacity: 0;
        transform: translate3D(0, -15px, 0);
        transition-property: opacity, transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

        .cart-header,
        .cart-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .cart-header {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $support-light-3;

            p {
                color: $support-dark-3;
                font-weight: 700;
            }
        }
        .cart-content.empty {
            display: flex;
            align-items: center;
            justify-content: center;
            .warning {
                color: $support-dark-1;
                text-align: center;
                font-weight: 700;
                padding: 5rem 0;
            }
            .product-cart {
                display: none;
            }
        }
        .cart-content.stocked {
            display: block;

            .warning {
                display: none;
            }
            .product-cart {
                display: block;
            }
            .product-cart .info {
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
                color: $support-dark-1;
                margin-bottom: 2rem;
                
                img {
                    width: 50px;
                    height: 50px;
                    max-width: initial;
                    border-radius: 5px;
                }
                .texts {
                    flex: 1;
                    overflow: hidden;
                }
                .texts .title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .texts span {
                    display: inline-block;
                }
                .texts .price-and-unity {
                    margin-right: 5px;
                }
                .texts .price-and-unity.single {
                    font-weight: 700;
                    color: $support-dark-3;
                }
                .texts .price-total {
                    color: $support-dark-3;
                    font-weight: 700;
                }
                .texts .price-total.annulled {
                    display: none;
                }
                .delete {
                    padding: 1rem;
                    padding-right: 0;
                    cursor: pointer;
                }
                .delete path {
                    transition: fill 200ms ease-in-out;
                }
                @include desktop-supported {
                    .delete:hover {
                        path {
                            fill: $support-dark-1;
                        }
                    }
                }
                .delete:active path {
                    fill: $support-dark-1;
                }
            }
            .checkout {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
                padding: 1.5rem 4rem;
                color: $support-light-1;
                background-color: $primary;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 200ms ease-in-out;

                @include desktop-supported {
                    &:hover {
                        background-color: rgba(255, 125, 26, 0.6);
                    }
                }
                &:active {
                    background-color: rgba(255, 125, 26, 0.6);
                }
            }
        }
    }
    .cart .cart-info.display {
        display: block;
    }
    .cart .cart-info.show {
        opacity: 1;
        transform: none;
    }
    .avatar {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        transition: box-shadow 200ms ease-in-out;
        box-shadow: 0 0 0 0 transparent;

        @include desktop-supported {
            &:hover {
                box-shadow: 0 0 0 2px $primary;
            }
        }
        &:active {
            box-shadow: 0 0 0 2px $primary;
        }
    }
}
.menuMobile-scrollbar {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
}

@include breakpoint-xxl {
}

@include breakpoint-lg {
    .header {
        padding: 0;
    }
    .header-container {
        padding: 2rem 0;
        border-bottom: none;
    }
    .header-btn-mobile {
        display: block;

        &.close {
            padding: 2.5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: $zIndex-btnMobile;
            opacity: 0;
        }
        &.close.show {
            opacity: 1;
            transition: opacity 300ms ease-in-out;
        }
    }
    .header-logo {
        padding: 1.5rem;
    }
    .header-menu {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: $zIndex-menuMobile;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 300ms ease-in-out;

        ul {
            max-width: 300px;
            min-height: 100%;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            background-color: $support-light-1;
            padding-top: 8rem;
            opacity: 0;
            transform: translate3D(-300px, 0, 0);
            transition-property: transform, opacity;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;

            .menu-item {
                padding: 0;
        
                &::after {
                    display: none;
                }
                &:hover a {
                    color: currentColor;
                }
                &:active a {
                    color: currentColor;
                }
            }
            .menu-item a {
                display: block;
                padding: calc(2.5rem / 2) 0;
                padding-left: 2.5rem;
                color: $support-dark-3;
                font-weight: 700;
                transition: color 200ms ease-in-out;

                &:active {
                    color: $support-light-3;
                }
            }
        }
    }
    // js
    .header-menu.display {
        display: block;
    }
    .header-menu.show {
        background-color: rgba(0, 0, 0, 0.7);

        ul {
            transform: none;
            opacity: 1;
        }
    }
    .header-user {
        column-gap: 3rem;
        padding-right: 1.5rem;
    }
}

@include breakpoint-sm {
    .header-container {
        padding: calc(2rem - 1.5rem) 0;
    }

    .header-btn-mobile {
        padding-right: 1rem;
    }   
    .header-logo {
        padding-left: 1rem;
        padding-right: 1rem;

        svg {
            width: 105px;
        }
    }
    .header-user {
        column-gap: 1.5rem;
        position: initial;

        .cart .cart-btn {
            padding-left: 1.0rem;
            padding-right: 1.0rem;

            &::before {
                top: 6px;
                right: 4px;
            }
        }
        .cart .cart-info {
            top: calc(6rem + 15px);
            width: initial;
            left: 0;
            right: 0;
            margin: 0 1.5rem;
    
            .cart-content.empty .warning {
                padding: 6.5rem 0;
            }
        }
        .avatar {
            width: 30px;
            height: 30px;
        }
    }
}